.container-fluid.bg-palette-dark.p-0.mt-5
        .col-md-12.text-white.text-center.py-3
            h5 All rights reserved. Created by: Nelson Goncalves. Created in NodeJS + Express.
            h5 https://github.com/nelsonVE