html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title Covid-19 JS
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/js/Chart.css')
    link(rel='stylesheet', href='/css/main.css')
    
  body
    block content
 
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/popper.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/Chart.min.js')
    script(type='text/javascript', src='/js/chart.js')

    block js-scripts