nav.navbar.navbar-expand-md.navbar-covid.mb-4
        a.navbar-brand(href='#') Covid Stats
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active#nav_home
                    a.nav-link(href='/') Home
                li.nav-item#nav_countries
                    a.nav-link(href='/countries') Countries
                li.nav-item
                    a.nav-link(href='https://github.com/nelsonVE') GitHub